
        *{
            margin: 0;
            padding: 0;
        }
        
            
        .wrapper{
            width: 100%;

        }
       .row1{
        color: #c0bab6;
        background-color: #333333;

        }
        #header{
            width: 960px;
            margin: 0 auto;
            padding: 20px 0;
            overflow: auto;
        }
        #header #hgroup{
            float: left;
            margin: 0 0 20px 0;

        }
        #header #hgroup h1,
        #header #hgroup h2{
            font-weight: normal;
            font-style: normal;
            text-transform: none;
        }
        #header hgroup h1{
            font-size: 36px;
        }
        .row1, .row1 a{
            color: #C0BAB6;
            background-color: #333333;
            text-decoration: none;
            outline: none;
        }
        #header hgroup h2{
            font-size: 13px;

        }
        #header nav {
            float: right;
            margin: 10px 0 0 0;
            padding: 20px 0;
            color: #C0BAB6;
            background-color: #232323;
        }
        #header nav ul{
            padding: 0 20px;
        }
        #header nav li{
            display: inline;
            margin-right: 25px;
            text-transform: uppercase;
        }
        #header nav li a{
            color: #C0BAB6;
            background-color: #232323;
        }
        .row2{
            color: #979797;
            background-color: #FFFFFF;
            overflow: auto;
        }
        #container section{
            display: block;
            width: 100%;
            margin: 0 0 30px 0;
            padding: 0;

        }
        .lastbox{
            margin-right: 0;
        }
       
        #container{
            padding: 30px 0;
        }
        #header, #container, #footer{
            display: block;
            width: 960px;
            margin: 0 auto;
        }
        #container #slider{
            margin-bottom: 50px;
        }
        #container section{
            display: block;
            width: 100%;
            margin: 0 0 30px 0;
            padding: 0;
        }
        .row2, .row2a{
            color: #FF9900;
            background-color: #FFFFFF;
            outline: none;
            text-decoration: none;
        }
        img {
            margin: 0;
            padding: 0;
            border: none;
            line-height: normal;
            vertical-align: middle;
            overflow-clip-margin: content-box;
            overflow: clip;
            }
            #container #homepage{
                display: block;
                width: 100%;
                line-height: 1.6em;
            }
            #container #homepage #services{
                padding: 0 0 30px 0;
                border-bottom: 1px solid #DEDEDE;

            }
            #container section{
                display: block;
                width: 100%;
                margin: 0 0 30px 0;

            }
            .one_quarter{
                width: 225px;
            }
            #container #homepage #services strong{
                float: left;
                margin: 8px 0 0 10px;
                padding: 0;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;


            }
            #container #homepage #services p{
                display: block;
                margin: 0;
                padding: 5px 0 0 0;
                clear: both;
                line-height: 1.6em;
                color: black;
            }
            #container .more{
                float: right;
            }
            
            .one_quarter, .two_quarter, .three_quarter, .four_quarter {
    display: block;
    float: left;
    margin: 0 20px 0 0;
}
#container #homepage #services figure {
    display: inline;
    float: left;
}
img {
    margin: 0;
    padding: 0;
    border: none;
    line-height: normal;
    vertical-align: middle;
}
#container #homepage #services strong {
    float: left;
    margin: 8px 0 0 10px;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
#container #homepage #services p {
    display: block;
    margin: 0;
    padding: 5px 0 0 0;
    clear: both;
    line-height: 1.6em;
}
#container .more {
    text-align: right;
}
.lastbox {
    margin-right: 0;
}
#container #homepage #latest {
    padding: 0 0 30px 0;
    border-bottom: 1px solid #DEDEDE;
}
#container section {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
}
address, article, aside, figcaption, figure, footer, header, nav, section {
    display: block;
    margin: 0;
    padding: 0;
}
#container #homepage #latest article figure ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.clear {
    display: block;
    clear: both;
}
.lastbox{
    margin-right: 0;
}
.one_third {
    width: 300px;
}
.one_third, .two_third, .three_third {
    display: block;
    float: left;
    margin: 0 30px 0 0;
}
#container #homepage #latest article figure ul li img {
    padding: 4px;
    border: 1px solid #D6D6D6;
}


#container #homepage #latest article figure figcaption {
    display: block;
    width: 100%;
    margin-top: 20px;
    text-align: right;
}
.row2 a{
    color: #FF9900;
    background-color: #ffffff;
}
#container #content{
    float: left;
    width: 630px;
    line-height: 1.6em;
}
#container .last {
    margin: 0;
}
#container section {
    display: block;
    width: 100%;
    padding: 0;
}
#container #content #posts ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.lastbox{
    margin-right: 0;
}
#container #content{
    float: left;
    width: 360px;
    line-height: 1.6em;
}
#container .last {
    margin: 0;
}
#container section {
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
}
#container #content #posts ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#container #content #posts ul li {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}
.clear {
    display: block;
    clear: both;
}
address, article, aside, figcaption, figure, footer, header, nav, section {
    display: block;
    margin: 0;
    padding: 0;
}
#container #content #posts ul li article figure img {
    float: left;
    width: 180px;
    height: 150px;
    margin: 0;
    padding: 4px;
    border: 1px solid #D6D6D6;
}
#container #content #posts ul li article figure figcaption {
    display: block;
    float: right;
    width: 410px;
    margin: 0;
    padding: 0;
}
#container #content #posts ul li article figure h2 {
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #333333;
    margin: 0;

}
#container .more{
    text-align: right;
}
#container #content #posts ul li.last {
    margin-bottom: 0;
}
#container #content #posts ul li {
    display: block;
    width: 100%;

}
.clear {
    display: block;
    clear: both;
}
address, article, aside, figcaption, figure, footer, header, nav, section {
    
    margin: 0;
    padding: 0;
}
address, article, aside, figcaption, figure, footer, header, nav, section {
    display: block;
    margin: 0;
    padding: 0;
}
user agent stylesheet
figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
#container #content #posts ul li article figure img {
    float: left;
    width: 180px;
    height: 150px;
    margin: 0;
    padding: 4px;
    border: 1px solid #D6D6D6;
}
#container #content #posts ul li article figure figcaption {
    display: block;
    float: right;
    width: 410px;
}
#container #content #posts ul li article figure h2 {
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}