body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    /* Prevent scrolling */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #4CAF50;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: #111;
    padding-top: 20px;
    color: white;
}

.content {
    padding: 16px;
    height: 100vh;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.sidebar a {
    display: block;
    padding: 16px;
}

@media screen and (min-width: 600px) {
    .content {
        /* margin-left: 220px; */
    }
}

#mainContent {
    background: linear-gradient(90deg, rgba(2, 0, 6, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
    overflow-y: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-bottom: 5px;
}

input[type="button"] {
    background-color: #4caf50;
    color: #fff;
    /* padding: 10px 20px; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

table {
    flex: 1;
    background: linear-gradient(90deg, rgba(2, 0, 6, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    border: 1px solid black;
    max-width: 915px;
    margin: 0 auto;
}

table,
th,
td {
    border-collapse: collapse;
    padding: 8px;

}

th {
    background-color: #090909;
    text-align: left;
}

input[type="button"]:hover {
    background-color: #45a049;
}


.formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.formbold-form-wrapper {
    background: linear-gradient(90deg, rgba(2, 0, 6, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

    margin: 0 auto;
    /* max-width: 570px; */
    width: 100%;
}

.formbold-form-img {
    margin-bottom: 45px;
}

.formbold-input-group {
    margin-bottom: 18px;
}

.formbold-form-select {
    width: 100%;
    padding: 12px 22px;
    border-radius: 5px;
    border: 1px solid #dde3ec;
    background: #ffffff;
    font-size: 16px;
    color: #536387;
    outline: none;
    resize: none;
}

.formbold-input-radio-wrapper {
    margin-bottom: 25px;
}

.formbold-radio-flex {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formbold-radio-label {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.formbold-input-radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.formbold-radio-checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #ffffff;
    border: 1px solid #dde3ec;
    border-radius: 50%;
}

.formbold-radio-label .formbold-input-radio:checked~.formbold-radio-checkmark {
    background-color: #6a64f1;
}

.formbold-radio-checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

.formbold-radio-label .formbold-input-radio:checked~.formbold-radio-checkmark:after {
    display: block;
}

.formbold-radio-label .formbold-radio-checkmark:after {
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.formbold-form-input {
    width: 100%;
    padding: 13px 22px;
    border-radius: 5px;
    border: 1px solid #dde3ec;
    background: #ffffff;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    outline: none;
    resize: none;
}

.formbold-form-input::placeholder {
    color: #536387;
}

.formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-form-label {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-bottom: 10px;
}

.formbold-btn {
    text-align: center;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    padding: 14px 25px;
    border: none;
    font-weight: 500;
    background-color: #6a64f1;
    color: white;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 35px;
}
button#updateBtn {
    margin: 0px 0px 114px 0px;
}

.formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
.custom-popup {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 34%;
    height: 180px;
    border-radius: 6px;
    text-align: center;
    font-weight: 800;
}

.custom-popup p {
    margin-bottom: 10px;
}

.custom-popup button {
    margin-right: 10px;
    cursor: pointer;
}
p#deleteMessage {
    margin-top: 25px;
}
button#confirmButton {
    background: blue;
    border: none;
    padding: 6px 13px 6px 13px;
    border-radius: 6px;
}
button#cancelButton {
    background: red;
    border: none;
    padding: 6px 16px 6px 16px;
    border-radius: 6px;
}
div#buttonDiv {
    margin-top: 50px;
    text-align: end;
}



