body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;background-image: url(drop-1004250.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    overflow: auto;
}

nav{
    
    font-size: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border:5px solid violet;
    background-color: yellow;
    position: sticky;
    top: 0;


}  
nav li{
    display: inline;
    margin: 0px 30px;
    font-weight:200;
    font-family:cursive;
}
nav a{
    text-decoration:none;
}
.logo{
    font-size: 36px;
    font-weight: bolder;
}
nav a:hover{
    color:white;
}
.menu-line{
    height: 3px;
    width: 20px;
    background-color: rgb(34, 12, 70);
    margin:3px;
    border-radius: 7px;
}
.menu{
    cursor: pointer; 
    display: none;
}
@media all and (max-width:800px){
    nav{
        flex-direction: column;
    }
    nav li{
        display: block ;
        padding: 10px 0;
    }
    ul{
        text-align: center;
        padding: 0;
        display: none;
    }
    .logo{
        align-self: flex-start;
        margin: 10px 0 0 30px;
    }
    .menu{
        cursor: pointer; 
        display: block;
        position: absolute;
        right: 20px;
        top: 22px;
    }
    .showmenu{
        display: block;
    }
}
