<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>
    <style>
        body{
            width: 100%;

            background-color: aqua;
        }
        @media screen and ( main-width 500px) {
            
            
        }
    </style>
</head>
<body>
    <h1>WELCOME WORLD</h1>
    <img src="https://cdn.pixabay.com/photo/2012/04/12/23/48/car-30990_640.png" alt="">
    <img src="https://cdni.autocarindia.com/utils/imageresizer.ashx?n=https://cms.haymarketindia.net/model/uploads/modelimages/BMW-2-Series-Gran-Coupe-271220221147.jpg" alt="">
    
</body>
</html>