*{
    margin:0;
    padding:0;
}
.wrapper1{
    width: 1;
    background-color:tan;
    border: 2px solid red;
}
#header{
    padding: 20px 0;
    background-color: lightsalmon;
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}
#hgroup{
    float: left;
}
#hgroup h1{
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
}

#hgroup h2{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-transform: none;

}
nav{
    float: right;
    margin: 4px 0 0 0;
    padding: 20px 0;
}
nav ul{
    padding: 4px 30px;
    list-style: none;
    /* background-color: rgb(70, 57, 57); */
    
}
nav ul li{
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
    /* color: white; */
    padding: 10px 0;
}
nav ul li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    text-decoration: none;

}
nav ul li a:hover{
    color: red;
    cursor:pointer;
}

