<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>
    <style>
        #headertag{
            width: 100%;
            background-color: gray;
            display: flex;
            justify-content:space-evenly;
        }
        img{
            margin: 20px 0 0 250px;
            text-align: center;
        }
       
    </style>
</head>
<body>
    <div id="headertag">
        <div class="lefttext">
            
            <h1>BASIC88</h1>
            <h2>Basic html tamplate</h2>
        </div>
        <div class="righttext">
            <nav>
            <ul>
                <li>TEXT LINK</li>
                <li>TEXT LINK</li>
                <li>TEXT LINK</li>
                <li>TEXT LINK</li>
                <li>TEXT LINK</li>
            </ul>
            </nav>
        </div>
    </div>
    <div>
        <img src="./960x360.gif" alt="">
    </div>
    <div id="content">
        <div class="box1">
            <img src="./290x180.gif" alt="">
            <h1>I AM HEADING TAG</h1>
            <p>A paragraph is defined as “a group 
                of sentencesg <br>
                 or a single sentence that forms 
                 a unit” (Lunsford and Connors 116). <br> 
                 Length and appearance do not determine 
                 whether a section in a paper  <br>
                 is a paragraph. For instance, 
                 in some styles of writing,</p>
        </div>
        <div class="box2">
            <img src="./290x180.gif" alt="">
            <h1>I AM HEADING TAG</h1>
            <p>A paragraph is defined as “a group of sentences <br>
                or a single sentence that forms a unit” (Lunsford and Connors 116). <br>
                Length and appearance do not determine whether a section in a <br>
                paper is a paragraph. For instance, in some styles of writing,</p>
        </div>
    </div>

</body>
</html>