<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>
    <style>
        #headertag{
            width: 100%;
            background-color: gray;
            display: flex;
        }
        .lefttext{
            width: 40%;
        }
        .righttext nav ul li{
           
        }
    </style>
</head>
<body>
    <div id="headertag">
        <div class="lefttext">
            <h1>BASIC88</h1>
            <h2>Basic html tamplate</h2>
        </div>
        <div class="righttext">
            <nav>
            <ul>
                <li>TEXT LINK</li>
                <li>TEXT LINK</li>
                <li>TEXT LINK</li>
                <li>TEXT LINK</li>
                <li>TEXT LINK</li>
            </ul>
            </nav>
        </div>
    </div>

</body>
</html>