<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>
    <style>
        *{
            margin: 0%;
            padding: 0%;
        }
        .wrapper {
            width: 100px;
         }
         .row1 {
            color: aliceblue;
            background-color: black;

         }
    </style>
</head>
<body>
    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
            <a href="#">
                <h1>BASIC 88</h1>
            </a>
            <h2> Basic HTML Template </h2>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#"> TEXT LINK </a>
                    </li>
                    <li>
                        <a href="#"> TEXT LINK </a>
                    </li>
                    <li>
                        <a href="#"> TEXT LINK </a>
                    </li>
                <li>
                    <a href="#"> TEXT LINK </a>
                </li>
                <li>
                    <a href="#"> TEXT LINK </a>
                </li>
                </ul>
            </nav>
        </header>
    </div>
</body>
</html>