
<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>Document</title>
  <style>
    #wrapperrow1{
      border: 2px solid;
      background:  #232323;
      width: 100%;
      height: 200px;
      color: white;
      text-align: center;
      

    }
   .navcontainer{
      display: inline;
      margin-right: 25px;
      text-transform: uppercase;
  }
  li {
    display: inline;
    padding: 10px;
}
.header{
  float: left;
  width: 80%;
}
  </style>
</head>
<body>
  <div id="wrapperrow1">
    <div class="header">

    <h1>Basic90</h1>
    <h2>Free HTML Website Template </h2>
    <div class="navcontainer">
      <nav>
        <ul>
          <li>
           TEXT LINK
          </li>
          <li>
            TEXT LINK
          </li>
          <li>
            TEXT LINK
          </li> 
  <li>
    TEXT LINK
  </li>
        </ul>
      </nav>
      
     </div>
     <div id="wrapperrow2">
     <input type="text" placeholder="Search Our Website...">
    <input type="submit">
    </div>
  </div>
    
    
    
   
   
    
</div>
</body>
</html>

   
   
