
<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Document</title>
    <style>
.wrapperrow1{
    background-color: black;
    width: 100%;
    }
    </style>
   
</head>
<body>
    <div class="wrapperrow1">
        <header id="header" class="clear">
          <div id="hgroup">
            <h1>
              <a href="#">Basic 89</a>
            </h1>
            <h2>Basic HTML Template</h2>
            <div>
                
            </div>
          </div>
          <nav>
            <ul>
              <li>
                <a href="#">Text Link</a>
              </li>
              <li>
                <a href="#">Text Link</a>
              </li>
              <li>
                <a href="#">Text Link</a>
              </li>
              <li>
                <a href="#">Text Link</a>
              </li>
              <li>
                <a href="#">Text Link</a>
              </li>
            </ul>
          </nav>
        </header>
      </div>
    </div>
    
</body>
</html>