<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            margin: 0;
            padding: 0;
            font-size: 13px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: #919191;
            background-color: #232323;
        }
        .wrapper{
            width: 100%;
        }
        .row1 {
        color: #c0bab6;
        background-color: #333333;
        }
    </style>
</head>
<body>
    <div class="wrapper row1 ">
        <header id="header" class="clear">
            <div id="hgroup">
                <h1>
                    <a href="#">Basic 88</a>
                </h1>
                <h2>Basic HTML Template</h2>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#">TEXTLINK</a>
                    </li>
                    <li>
                        <a href="#">TEXTLINK</a>
                    </li>
                    <li>
                        <a href="#">TEXTLINK</a>
                    </li>
                    <li>
                        <a href="#">TEXTLINK</a>
                    </li>
                    <li>
                        <a href="#">TEXTLINK</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
    
</body>
</html>