* {
    margin: 0;
    padding: 0;
  }
body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #919191;
    background-color: #232323;
}
.wrapper {
    width: 100%;
  }
  .row1 {
    color: #c0bab6;
    background-color: #333333;
  }
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#container #homepage {
    display: block;
    width: 100%;
    line-height: 1.8em;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: normal;
    font-style: italic;
    line-height: normal;
}
  #header {
    width: 960px;
    margin: 0 auto;
    padding: 20px 0;
    overflow: auto;
  }
  #header #hgroup {
    float: left;
    margin: 0 0 20px 0;
  }
  #header #hgroup h1,
  #header #hgroup h2 {
    font-weight: normal;
    font-style: normal;
    text-transform: none;
  }
  #header #hgroup h1{
    font-size: 36px;
  }
.row1, .row1 a {
    color: #C0BAB6;
    background-color: #333333;
    text-decoration: none;
    outline: none;
}
#header #hgroup h2 {
    font-size: 13px;
}
#header nav {
    float: right;
    margin: 10px 0 0 0;
    padding: 20px 0;
    color: #C0BAB6;
    background-color: #232323;
}
#header nav ul {
    padding: 0 20px;
}
#header nav li {
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
}
#header nav li a {
    color: #C0BAB6;
    background-color: #232323;
}
.row2 {
    color: #979797;
    background-color: #FFFFFF;
    overflow: auto;
}
#container section {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
    overflow: auto;

}
#header, #container, #footer, #copyright {
    display: block;
    width: 960px;
    margin: 0 auto;
    padding: 30px 0;
}
.one_third, .two_third, .three_third {
    display: block;
    float: left;
    margin: 0 30px 0 0;
    width: 300px;
}

#container #homepage #services article figure img {
    margin: 0 0 15px 0;
    padding: 4px;
    border: 1px solid #D6D6D6;
}
#container #homepage #services article figure h2 {
    font-size: 14px;
    font-weight: bold;
}
#container .more {
    text-align: right;
}
.row2 a {
    color: #FF9900;
    background-color: #FFFFFF;
}
#container #homepage {
    display: block;
    width: 100%;
    line-height: 1.8em;
}
#container #homepage #intro article figure img {
    float: right;
    margin: 0 0 10px 0;
    padding: 4px;
    border: 1px solid #D6D6D6;
}
#container #homepage #intro article figure figcaption {
    float: left;
    width: 460px;
}
.row3 {
color: #989898;
background-color: #333333;
}
.one_quarter {
display: block;
float: left;
margin: 0 20px 0 0;
width: 225px;
}
.lastbox{
margin: 0;
}
#footer{
overflow: auto;
}
#footer section h2.title {
margin: 0 0 25px 0;
padding: 0;
color: #FFFFFF;
background-color: #333333;
font-size: 12px;
font-weight: bold;
text-transform: uppercase;
}
nav ul {
margin: 0;
padding: 0;
list-style: none;
}
#footer section nav li {
margin: 0 0 5px 0;
padding: 0 0 5px 0;
border-bottom: 1px solid #555555;
}
.row3 a {
color: #FF9900;
background-color: #333333;
}
a {
outline: none;
text-decoration: none;
}
#copyright {
padding: 20px 0;
}
#copyright p {
margin: 0;
padding: 0;
}
#copyright p {
margin: 0;
padding: 0;
}
.row4, .row4 a {
color: #919191;
background-color: #232323;
}
.fl_left {
float: left;
}
.fl_right {
float: right;
}