<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <buttonon onclick="welcome()">click me</button>
    <script>
        // type 1

        // function welcome(){
        //     alert("Welcome to js")
        // };
        // welcome();

        // type 2

        // var welcome = function(){
        //     alert("welcome to function expressions")
        // }

         var welcome = function hello(){
        alert("i am from chittoor")
        }
    </script>
</body>
</html>