* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    background-size: cover;
    height: 100vh;
    color: white; /* Added text color for better visibility */
}

h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: orange;
    margin: 80px 0;
    font-size: 3rem;
}

.box {
    text-align: center;
}

.button {
    font-size: 1.7em;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    font-family: monospace;
    display: inline-block;
    box-sizing: border-box;
    padding: 0.35em 1.2em;
    margin: 0 0.3em 0.3em 0;
    text-align: center;
    border: 2px solid orange;
    transition: all 0.3s ease-out;
}

.button:hover {
    border: 2px solid orange;
    text-decoration: none;
    background: orange;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 300px; 
    position: relative; 
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06d85f;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}
